<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jose Luis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="overlay">
        <div class="card">

            <img src="{{ url_for('static', filename='img/perfil.png') }}"
                 alt="Jose Luis"
                 class="perfil">

            <h1>Jose Luis</h1>

            <p>
                 Redes GPON | MPLS | Desarrollo Web
            </p>

            <div class="botones">
                <a href="#" class="btn">Proyectos</a>
                <a href="#" class="btn">Contacto</a>
            </div>

        </div>
    </div>

</body>
</html>