<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jose Luis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="card">

        <div class="emoji">🚀</div>

        <h1>Jose Luis</h1>

        <p>
            Bienvenido a mi página web desarrollada con Python y Flask.
        </p>

        <div class="cajas">
            <div class="caja">
                <span>🌐</span>
                <h3>Redes</h3>
            </div>

            <div class="caja">
                <span>💻</span>
                <h3>Programación</h3>
            </div>

            <div class="caja">
                <span>📡</span>
                <h3>Telecom</h3>
            </div>
        </div>

        <button>Ver Perfil</button>

    </div>

</body>
</html>